body {
    background-color: #FFFFFF ;
    color: #666666;
    font-family: Arial,Helevetica,sans-serif;
}

header {
    background-color: #002171;
    background-images: url(sunset.jpg);
    background-repeat: no-repeat;
    background-positiom: right;
    color: #ffffff;
    line-heights:400;
    text-indent: 1em;

}
h1{
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}

nav{
    background-color: #bbdefb;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}


h2{
    color: #1976d2;
    font-family: Georgia, "Times New Roman", serif;
}

h3{
    font-family: Georgia, "Times New Roman", serif;
    color: #000033
}

dt{
    color: #002171;
}
  footer{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
  }

 .resort {
    color: #1976d2;
    font-weight: bold; 
 }
   
 #contact {
    font-size:90%
 }